.Authors {
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: var(--section-padding);
    position: relative;
    padding: 50px 20px;
    margin: 40px 0;
}

.Authors::before {
    content: 'Authors Table';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    background: var(--main-color);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    font-weight: bold;
}

.Authors .author:not(:last-child) {
    border-bottom: 1px solid rgb(219, 210, 210);
}
.Authors .author > div {
    padding: 0;
}
.Authors .author> div:not(:first-child) {
    text-align: center;
}

.Authors .author> div:not(:first-child, :nth-child(2)) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Authors .author > div:nth-child(3) .author-state {
    font-size: var(--font-x-small);
    text-transform: uppercase;
    padding: var(--padding-small) var(--padding-medium);
    border-radius: var(--border-radius);
    color: #ddd;
    background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71));
}

.Authors .author>div:nth-child(2) div .author-jop,
.Authors .author>div:first-child div .author-name {
    font-weight: bold;
}

.Authors .authorHead div {
    text-align: center;
    padding: 0;
}

.Authors .authorHead div span {
    text-transform: uppercase;
    font-size: var(--font-x-small);
}

.Authors .author>div:first-child {
    display: flex;
    align-items: center;
}

.Authors .author .img > img {
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.Authors .authorHead>div:first-child,
.Authors .authorHead>div:nth-child(2),
.Authors .author>div:nth-child(2) div {
    text-align: left;
}

.Authors .author>div:first-child .author-name,
.Authors .author>div:nth-child(2) .author-jop {
    margin-bottom: -3px;
}

.Authors>.author>div:nth-child(5) .author-action {
    cursor: pointer;
}

.Authors>.author>div:nth-child(4) .author-date,
.Authors>.author>div:nth-child(5) .author-action,
.Authors>.author>div:nth-child(2) div .author-jop,
.Authors>.author>div:nth-child(2) div .author-jopTwo,
.Authors>.author>div:first-child div .author-email,
.Authors>.authorHead>div span {
    opacity: var(--opacity);
}

.Authors>.author>div:first-child div span,
.Authors>.author>div:nth-child(4) span,
.Authors>.author>div:nth-child(5) span,
.Authors>.author>div:nth-child(2) div span {
    font-size: 12px;
}

.Authors span {
    display: block;
}
@media (max-width: 991px) {
    .Authors .authorHead div span {
    font-size: calc(var(--font-x-small) - 8px);
    }
.Authors .author .img > img {
    width: 15px;
}
.Authors .author > div:first-child .author-name ,
.Authors .author > div:first-child .author-email,
.Authors .author>div:nth-child(2) .author-jop,
.Authors .author>div:nth-child(2) .author-jopTwo,
.Authors .author>div:nth-child(4) .author-date {
    font-size: var(--font-x-small);
}
.Authors .author > div:nth-child(3) .author-state {
    padding: var(--padding-small);
}
}