.orders {
    padding: 20px;
    box-shadow: var(--box-shadow);
}
.order .orderHead {
    padding: var(--padding-larg) 25px;
}
.orders .orderHead div {
    padding: 0 10px;
}
.orders .orderHead div h5 {
    font-size: var(--font-x-medium);
    font-weight: bold;
}

.orders .orderHead div span {
    margin-left: -4px;
    opacity: var(--opacity);
}

.orders .orderHead div svg {
    color: green;
    margin-right: 5px;
    position: relative;
}

.order:not(:last-child) .orderIcon svg::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 45px;
    background-color: #ecd1d1;
    left: 12%;
    top: 30px;
    transform: translateX(-50%);
}

.order .orderIcon svg {
    padding: 8px;
    border-radius: 50%;
    color: #fff;
    width: 30px;
    height: 30px;
}

.order:nth-child(2) .orderIcon svg {
    background: rgb(76, 175, 80);
}

.order:nth-child(3) .orderIcon svg {
    background: rgb(244, 67, 53);
}

.order:nth-child(4) .orderIcon svg {
    background: rgb(26, 115, 232);
}

.order:nth-child(5) .orderIcon svg {
    background: rgb(251, 140, 0);
}

.order:last-child .orderIcon svg {
    background: rgb(233, 30, 99);
}

.order .orderPrice {
    padding: 0 9px;
}
.order .orderPrice strong {
    display: block;
    font-size: var(--font-x-small);
}

.order .orderPrice span {
    font-size: var(--font-x-small);
    opacity: var(--opacity);
}
@media (min-width: 768px) and (max-width: 1199px) {
    .order {
        width: 50%;
    }
}