.billing-app {
    padding: var(--section-padding);
    margin: var(--section-margin) 0 0 0 !important;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}
.billing-app .billing-app-info,
.billing-app .billing-app-newest,
.billing-app .billing-app-yesterday,
.billing-app .billing-app-card {
    padding: var(--section-padding);
}
.billing-app .billing-app-info .billing-app-info-date  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.billing-app .billing-app-info .billing-app-info-date svg {
    margin-right: 5px;
}
.billing-app .billing-app-info .billing-app-info-date span {
    opacity: var(--opacity);
}
.billing-app .billing-app-newest div span,
.billing-app .billing-app-yesterday div span {
    opacity: var(--opacity);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
}
.billing-app .billing-app-card {
    justify-content: space-between;
    align-items: center;
}
.billing-app .billing-app-card .billing-app-card-icon span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}
.billing-app .billing-app-card .billing-app-card-icon span:hover {
    opacity: var(--opacity);
}
.billing-app .billing-app-card:not(:first-child,:last-child) .billing-app-card-icon  span {
border: 1px solid rgb(68, 213, 68);
}
.billing-app .billing-app-card:last-child .billing-app-card-icon  span {
    border: 1px solid rgb(47,40,40);
}
.billing-app .billing-app-card:not(:first-child,:last-child) .billing-app-card-icon  span svg,
.billing-app .billing-app-card:not(:first-child,:last-child) .billing-app-card-price span {
    color: rgb(68, 213, 68);
}
.billing-app .billing-app-card:last-child .billing-app-card-icon  span svg,
.billing-app .billing-app-card:last-child .billing-app-card-price span  {
    color: rgb(47,40,40);
}
.billing-app .billing-app-card .billing-app-card-info .billing-app-card-info-name {
    display: block;
    font-weight: bold;
    font-size: 14px;
}
.billing-app .billing-app-card .billing-app-card-info .billing-app-card-info-date {
    opacity: var(--opacity);
    font-size: 13px;
}
.billing-app .billing-app-card .billing-app-card-price {
    text-align: right;
}
.billing-app .billing-app-card .billing-app-card-price span {
    font-weight: bold;
    font-size: 14px;
    opacity: var(--opacity);
}