.profileHead .profileHeadImg img {
    width: 100px;
}
.profileHead .profileHeadInfo {
    margin-left: -30px;
}
.profileHead .profileHeadInfo h6 {
    font-size: 18px;
}
.profileHead .profileHeadInfo span {
    font-size: 14px;
    opacity: var(--opacity);
    display: block;
}
.profileHead .profileHeadIcon > span {
    display: flex;
    align-items: center;
    margin-right: 10px;
    padding: 4px 8px;
    border-radius: var(--border-radius);
    transition: .3s;
    cursor: pointer;
}
.profileHead .profileHeadIcon > span:hover {
    box-shadow: var(--box-shadow);
}
.profileHead .profileHeadIcon > span svg {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}
.profileHead .profileHeadIcon > span span {
    text-transform: capitalize;
}
.profileHead hr {
    opacity: .1;
}