.visaCard {
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    color: #fff;
    box-shadow: var(--box-shadow);
}
.visaCard .visacardOverlay {    
    background: url("https://demos.creative-tim.com/material-dashboard-react/static/media/pattern-tree.156bb943ac7fd244f10c115d085e085e.svg") center no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    opacity: .1;
}
.visaCard .row {
    margin: 5px 0;
    padding: var(--padding-larg);
}
.visaCard .row span {
    display: block;
}
.visaCard .visaCardWifi div svg {
    width: 30px;
    height: 30px;
}
.visaCard .visaCardPhone div span {
    font-size: var(--font-medium);
    font-weight: bold;
}
.visaCard .visaCardJack div span:first-child {
    opacity: var(--opacity);
    font-size: var(--font-x-small);
}
.visaCard .visaCardJack div span:last-child {
    margin-bottom: 5px;
    font-size: var(--font-x-small);
}
.visaCard .visaCardJack div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.visaCard .visaCardJack div:last-child img {
    width: 40px;
    height: 40px;
}
@media (max-width: 575px) {
    .visaCard {
        margin-bottom: 10px;
    }
}
@media (min-width: 576px) and (max-width: 991px){
    .visaCard .visaCardPhone div span {
        font-size: var(--font-x-small);
    }
    .visaCard .row {
        margin: 0;
        padding: var(--padding-small);
    }
    
}
@media (min-width: 1200px) and (max-width: 1301px) {
    .visaCard .visaCardPhone div span {
        font-size: var(--font-x-small);
    }
    .visaCard .row {
        margin: 0;
        padding: 0;
    }
}