
.visaCard {
    background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25));
    color: #fff;
    box-shadow: var(--box-shadow);
}
.visaCard .visacardOverlay {    
    background: url("https://demos.creative-tim.com/material-dashboard-react/static/media/pattern-tree.156bb943ac7fd244f10c115d085e085e.svg") center no-repeat;
    background-size: cover;
    left: 0;
    top: 0;
    opacity: .1;
}
.visaCard .row {
    margin: 5px 0;
    padding: 10px;
}
.visaCard .row span {
    display: block;
}
.visaCard .visaCardWifi div svg {
    width: 30px;
    height: 30px;
}
.visaCard .visaCardPhone div span {
    font-size: 16px;
    font-weight: bold;
}
.visaCard .visaCardJack div span:first-child {
    opacity: .7;
    font-size: 11px;
}
.visaCard .visaCardJack div span:last-child {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 10px;
}
.visaCard .visaCardJack div:last-child img {
    width: 40px;
    height: 40px;
}
