
.platformSettings > .row {
    margin: 15px
}
.platformSettings .platformSettingsTitle div h6 {
    font-weight: bold;
    font-size: 18px;
    text-transform: capitalize;
}
.platformSettings .platformSettingsInfoTitle div span {
    opacity: var(--opacity);
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
