.ProfileInformationData div span:first-child {
    font-size: 13px;
    font-weight: bold;
    text-transform: capitalize;
}
.ProfileInformationData div span:last-child {
    font-size: 11px;
    opacity: var(--opacity);
}
.ProfileInformationData div span:last-child svg {
    margin-right: 10px;
    color: rgb(21, 99, 147);
    cursor: pointer;
    transition: .3s;
}
.ProfileInformationData div span:last-child svg:hover {
    transform: scale(1.1);
}