.fixed {
    position: fixed;
    z-index: 1000;
    width: 77%;
    transition: .3s;
    height: 80px;
    top: 5px;
    border-radius: var(--border-radius);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.fixedPadding {
    padding: 80px;
}
.navbar {
    background-color: transparent !important;
    box-shadow: none !important;
    color: inherit;
}
.navbar .section-title div svg {
    opacity: var(--opacity);
    width: 20px;
    margin-top: 2px;
}
.navbar .section-title .nav-text {
    font-size: var(--font-small);
}
.navbar .section-title div h3 {
    font-size: var(--font-larg);
}
.navbar .search-box div:first-child {
    padding: var(--padding-larg);
}
.navbar .search-box div:first-child input {
    padding: var(--padding-medium);
    width: 200px;
    border: 1px solid rgb(112, 107, 107);
    outline: none;
    opacity: .4;
    background-color: transparent;
}
.navbar .search-box div:first-child input::placeholder {
    text-transform: capitalize;
    opacity: var(--opacity);
}
.navbar .search-box div:first-child input:focus::placeholder {
    opacity: 0;
} 
.navbar .search-box div:last-child svg {
    margin: 0 6px;
    width: 30px;
    height: 40px;
    cursor: pointer;
}
@media (max-width: 566px) {
    .navbar .section-title div svg {
        width: 10px;
    }
    .navbar .section-title div h3 {
        font-size: var(--font-x-small);
    }
    .navbar .search-box div:first-child input {
        width: 100px;
        padding: var(--padding-small);
    }
    .navbar .search-box div:first-child input::placeholder {
        font-size: var(--font-small);
    }
    .navbar .search-box div:last-child svg {
        width: 20px;
        height: 30px;
    }
}
@media (min-width: 567px) and (max-width: 767px) {
    .navbar .section-title .nav-text {
        font-size: var(--font-x-small);
    }
    .navbar .section-title div h3 {
        font-size: var(--font-x-medium);
    }
    .navbar .search-box div:first-child input {
        width: 120px;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .navbar .section-title div h3 {
        font-size: var(--font-medium);
    }
    .navbar .search-box div:first-child input {
        width: 140px;
    }
}