.PlatformSettingsEmail {
    padding: 20px 10px;
    align-items: center;
}
.PlatformSettingsEmail >  span {
    margin-left: 15px;
}
.PlatformSettingsEmail div:last-child span {
    font-size: 12px;
    opacity: var(--opacity);
    cursor: pointer;
}