.app-cards {
    padding-right: 0 !important;
}
.card {
    box-shadow: var(--box-shadow);
    background-color: inherit;
}
.card:first-child {
    margin-right: 5px;
}
.card > .row {
    margin: 20px 0;
}
.card > .row > div {
    text-align: center;
}
.card > .row > div span {
    display: block;
}
.card > .card-icon div {
    display: flex;
    justify-content: center;
}
.card > .card-icon div span {
    background: var(--main-color);
    -mo-width: fit-content;
    width: -moz-fit-content;
    padding: 20px;
    color: #fff;
    border-radius: var(--border-radius);
}
.card > .card-icon div span svg {
    width: 30px;
    height: 30px;
}
.card > .card-info div .card-info-title {
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}
.card > .card-info div .card-info-paragraph {
    opacity: var(--opacity);
    font-size: 14px;
}
.card > .card-price div span {
    font-weight: bold;
}
@media (max-width: 575px) {
    .app-cards {
        padding: 0 !important;
    }
}