.profile .profile-info {
    width: 95%;
    margin: auto;
    position: relative;
    top: -80px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: var(--section-padding);
    background-color: #fff;
}

.profileMode {
    background: rgb(52,71,103);
}