:root {
  --color-mode: #fff;
  --main-color:  rgba(38, 122, 233, 0.925);
  --box-shadow: 1px 1px 5px rgb(192, 195, 199);
  --border-radius: 10px;
  --section-padding: 10px;
  --section-margin: 25px;
  --opacity: .7;    
}

a {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
.app {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 24px !important;
  position: relative;
  display: flex;
  justify-content: space-between;
  color: rgb(52, 71, 103);
}
.app.light-mode {
  color: #ddd;
}
.dark-mode {
  background-color: rgb(52, 71, 103) !important;
}