.method {
    box-shadow: var(--box-shadow);
    padding: var(--padding-larg);
}
.method .method-info,
.method .method-cards  {
    padding: var(--padding-medium);
}
.method .method-info .payment span {
    font-size: var(--font-larg);
    font-weight: bold;
}
.method .method-info .new-card button {
    background-color: rgb(25, 25, 25);
    padding: var(--padding-medium) var(--padding-larg);
    border: none;
}
.method .method-info .new-card button svg {
    margin: -3px 0 0 0;
    width: 20px;
    height: 20px;
}
.method .method-cards  .methodCard {
    border: 1px solid #333;
}
.method .method-cards  .methodCard span {
    margin-right: 10px;
}
.method .method-cards  .methodCard > div:first-child img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.method .method-cards  .methodCard div:first-child span {
    margin-top: -5px;
    opacity: var(--opacity);
}
.method .method-cards  .methodCard div:first-child .code  {
    font-weight: bold;
}
.method .method-cards  .methodCard div:last-child {
    text-align: right;
}
.method .method-cards  .methodCard div:last-child span svg {
    width: 25px;
    height: 25px;

}
@media (max-width: 575px) {
    .method .method-info .payment span {
        font-size: var(--font-x-medium);
    }
    .method .method-info .new-card button {
        padding: var(--padding-small);
    }
    .method .method-info .new-card button span {
        font-size: var(--font-small);
        text-transform: capitalize;
    } 
    .method .method-info .new-card button svg {
        width: 10px;
    }

}
@media (min-width: 768px) {
    .method .method-cards  .methodCard {
        width: 48%;
    }

}